<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<title>Fran</title>
	<style>
		body
		{
			background: #0d0d0d;
			color: #cecece;
			font-size: 18px;
			line-height: 1.8;
			margin: 0 auto;
			max-width: 40em;
			padding: 3em 2em;
		}

		a
		{
			color: #4fd970;
			text-decoration: underline;
		}

		a:hover
		{
			text-decoration: none;
		}
	</style>
</head>
<body>
<header>
	<nav>
		<a href="/">Home</a> |
		<a href="mailto:site&#64;fran&#46;one">Email</a> |
		<a href="https://github.com/fransac">GitHub</a>
	</nav>
</header>
<main>
