@font-face
{
	src: url("/assets/fonts/Typ.ttf");
	font-family: "Typ";

	font-style: normal;
	font-weight: 400;
}

html
{
	font-size: 18px;
}

body
{
	background-color: #000000;
	color: #ffffff;
	font-family: "Typ", monospace;
	line-height: 1.6;
	margin: 0 auto;
	max-width: 38em;
	overflow-wrap: break-word;
	padding: 4em 2em 0 0;
}

*
{
	font-family: inherit;
	font-size: inherit;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	margin: 2em 0;
}

h1
{
	text-align: center;
}

h2::before
{
	content: "*";
	margin-right: 1em;
}

blockquote,
p,
pre
{
	margin-bottom: 1em;
}

blockquote,
pre
{
	border-left: solid 0.25em;
	padding-left: 1em;
}

pre::before
{
	content: "CODE";
	display: block;
	margin-bottom: 1em;
	opacity: 0.5;
}

hr
{
	border: none;
	border-bottom: solid 1px;
}

ol,
ul
{
	padding: 0;
}

li
{
	list-style-type: none;
	padding-left: 2em;
	position: relative;
}

li::before
{
	content: ">";
	left: 0;
	margin-right: 1em;
	position: absolute;
	top: 0;
}

a
{
	color: #51de9a;
	text-decoration: none;
}

img
{
	height: 0.7em;
	width: auto;
}
