@font-face
{
	src: url("/assets/fonts/typ.ttf");
	font-family: "typ";

	font-style: normal;
	font-weight: 400;
}

html
{
	font-size: 18px;
}

body
{
	background-color: #000000;
	color: #ffffff;
	font-family: "typ", monospace;
	line-height: 1ch;
	margin: 0 auto;
	max-width: calc(100% - (2 * 1ch));
	width: 32ch;
	overflow-wrap: break-word;
	padding: 0 1ch;
}

footer
{
	margin-top: 4ch;
	text-align: right;
}

*
{
	font-family: inherit;
	font-size: inherit;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	margin: 2ch 0;
}

h1
{
	text-align: right;
}

h2::before
{
	content: "*";
	margin-right: 1ch;
}

blockquote,
li,
p,
pre
{
	margin-bottom: 1ch;
}

blockquote,
pre
{
	border-left: solid 0.25ch;
	padding-left: 1ch;
}

pre::before
{
	content: "CODE";
	display: block;
	margin-bottom: 1ch;
	opacity: 0.5;
}

hr
{
	border: none;
	border-bottom: solid 1px;
}

ol,
ul
{
	padding: 0;
}

li
{
	list-style-type: none;
	padding-left: 2ch;
	position: relative;
}

li::before
{
	content: "-";
	left: 0;
	position: absolute;
	top: 0;
}

a
{
	color: #4fd970;
	text-decoration: none;
}

img
{
	height: 0.7ch;
	width: auto;
}
