@font-face
{
	src: url("/fonts/Typ.ttf");
	font-family: "Typ";

	font-style: normal;
	font-weight: 400;
}

html
{
	font-size: 18px;
}

body
{
	background-color: #000000;
	color: #ffffff;
	font-family: "Typ", monospace;
	line-height: 1.6;
	margin: 0 auto;
	max-width: 38em;
	overflow-wrap: break-word;
	padding: 0 2em;
}
